
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}
input{
  width: 150px;
  height: 28px;
  border-radius: 10px;
}

input:focus{
  border-radius: 0;
  transition: 0.5s ease-in;
}

button{
  margin-left: 15px;
  background: #f24563;
  padding: 10px;
  border: none;
  border-radius: 10px;
}


.data{
  position: relative;
  display: flex;
  width: 50%;
  flex-direction: column;
  gap:4px;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: -3px -2px 5px 0 rgba(0,0,0,0.75);
  max-width: 270px;
}
.summoner{
  font-size: 1.2rem;
  font-weight: normal;
}

.summoner-level{
  font-size: 1.1rem;
  font-weight: normal;
  border-radius: 100rem;
  padding: 3px;
  text-align: center;
}

.level{
  border-radius: 10px;
}

img{
  border-radius: 20px;
  margin: 1.5rem;
}
img:hover{
  border-radius: 5px;
  transition: 0.5s ease-in-out;

}

.summoner-info{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 175px;
  background-color: rgba(80%,80%,80%,20%);
  backdrop-filter: blur(50px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

